<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chidu.usagelogger">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="Usage Logger"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.NotifListener"
            android:label="Usage Logger Notification Access"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:resource="@xml/notification_listener_config"/>
        </service>

        <receiver
            android:name=".system.ScreenEventReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
